body {
   color: black;
   font-family: "Helvetica", sans-serif;
   font-size: 100px;
   margin: 500 0 0 500px;
line-height: 1%;
}

a {
   color: grey;
   font-family: "Courier", monospace;
   font-size: 32px;
}
